<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h1 class="col-md-12">Visor Cuentas</h1>

      <h2 class="col-md-3"> ID Usuario </h1>
      <h2 class="col-md-8"> {{userid}} </h1>

    </div>

<template is="dom-repeat" items="{{accounts}}">
    <h3> IBAN - {{item.IBAN}}</h3>
    <h3> Saldo - {{item.BALANCE}}</h3>
</template>



    <iron-ajax
      auto=""
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData">
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          IBAN:{
            type: String,
            value:"XX"
          },userid:{
            type: Number,
            value:0
          },BALANCE:{
            type: Number,
            value:0
          },accounts:{
            type: Array
          }

        };
      }
      showData(data){
      //  console.log(data)
        console.log(data.detail.response)

        this.accounts=data.detail.response;
    //   this.iban=data.detail.response.IBAN;
    //   this.userid=data.detail.response.USERID;
      // this.balance=data.detail.response.BALANCE;
      }
    }



    window.customElements.define(VisorCuentas.is,VisorCuentas);
  </script>
</dom-module>
