<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<dom-module id="emisor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <h1>Soy el emisor</h1>
     <button on-tap="sendEvent">No pulsar</button>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
class EmisorEvento extends Polymer.GestureEventListeners(Polymer.Element) {
       static get is() { return 'emisor-evento'; }
       static get properties() {
       return {
       };
     }
     sendEvent(e){
       console.log("se ha pulsado el botón");
       console.log(e);
       this.dispatchEvent(
         new CustomEvent(
           "myevent",
           {
             "detail":
             {
               "course":"TechU",
               "year":"2018"
             }
           }
         )
       );//main
     }

   }

   window.customElements.define(EmisorEvento.is, EmisorEvento);
 </script>
</dom-module>
